{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <div id="profile-change">
        <h3>Cброс пароля</h3>
        {% if validlink %}
            <p>Пожалуйста введите новый пароль</p>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                {% buttons submit='Сменить пароль' %}{% endbuttons %}
            </form>
        {% else %}
            <p>Ссылка для сброса пароля недействительна, возможно, потому что
                    уже был использован. Пожалуйста, запросите новый сброс пароля</p>
        {% endif %}
    </div>
{% endblock %}